@font-face {
  font-family: shohunFont;
  src: url("../fonts/GrapeNuts-Regular.ttf");
}

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    user-select: none;
  }
  
  body {
    background: url("../images/bg.png");
    font-family: shohunFont;
  }

  .txt{
    text-align: center;
    position: fixed; /* or absolute */
    top: 70%;
    left: 50%;
    /* bring your own prefixes */
    transform: translate(-50%, -50%);

  }

  .img {
    width: 350px;
    position:absolute;
    top:0;
    left:0;
    right:0;
    bottom:0;
    margin:auto;
  }

  #normal-button {
    position: absolute;
    top:65%;
    left:0;
    right:0;
    bottom:0;
    margin:auto;
    transform: translate(-50%, -50%);
    height: 4rem;
    width: 7rem;
    font-size: 1.5rem;
    border: none;
    box-shadow: 1px 1px 5px black;
    color: #fff;
    font-family: shohunFont;
    background: cornflowerblue;
    cursor: pointer;
    border-radius: 30px;
    padding-left: 20px;
    padding-right: 20px;
  }

  #runaway-btn {
    position: absolute;
    top:65%;
    left:15%;
    right:0;
    bottom:0;
    margin:auto;
    transform: translate(-50%, -50%);
    height: 4rem;
    width: 7rem;
    font-size: 1.5rem;
    border: none;
    box-shadow: 1px 1px 5px black;
    color: #fff;
    font-family: shohunFont;
    background: cornflowerblue;
    cursor: pointer;
    border-radius: 30px;
    padding-left: 20px;
    padding-right: 20px;
  }
  